.input{
    width:100%;
    padding:.5rem .75rem;
    border:1px solid #d1d5db;
    border-radius:.5rem;
    font-size:.875rem;
}
.input:focus{
    outline:none;
    border-color:#38bdf8;
    box-shadow:0 0 0 2px rgb(56 189 248 / .3);
}
